.loading__product{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4vh;
    color: rgb(183, 130, 32);
}
.link__productId{
    text-decoration: none;
}
.home__container{
    display: grid;
    grid-template-columns: minmax(20%, 30vh) 1fr;
    gap: 6vh;
    margin-top: 4vh;
}
.container__search{
    display: flex;
    justify-content: center;
    gap: 2vh;
}
.search{
    color: orange;
    font-size: 3vh;
}
.search__title{
    font-size: 2vh;
    width: 30%;
    height: 5vh;
    margin-top: 2vh;

    border-radius: 2vh;
    border: none;

    background-color: rgb(229, 200, 149);
}